@function to-rgb($value) {
  @return red($value), green($value), blue($value);
}

@mixin enum-with-comma($selector: '') {
  ul#{$selector} {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: .3rem;

        &:after {
          content: ", ";
        }
      }
    }
  }
}

$custom-font-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$custom-font-serif: "EB Garamond", Georgia, "Times New Roman", Times, serif;
$custom-font-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

$custom-primary: #557bb9;
$custom-primary-rgb: to-rgb($custom-primary);
$custom-primary-active: darken($custom-primary, 10%);
$custom-primary-hover: darken($custom-primary, 10%);
$custom-primary-border: darken($custom-primary, 12%);
$custom-primary-hover-border: darken($custom-primary, 15%);
$custom-primary-active-hover: darken($custom-primary, 17%);
$custom-primary-active-border: darken($custom-primary, 25%);
$custom-body-color: #282828;
$custom-body-color-rgb: to-rgb($custom-body-color);
$custom-secondary-color: #646464;
$custom-secondary-color-rgb: to-rgb($custom-secondary-color);
$custom-tertiary-bg: #f5f7fa;
$custom-tertiary-bg-rgb: to-rgb($custom-tertiary-bg);

:root {
  --bs-primary: #{$custom-primary};
  --bs-primary-rgb: #{$custom-primary-rgb};
  --bs-font-sans-serif: #{$custom-font-sans-serif};
  --bs-font-monospace: #{$custom-font-monospace};
  --bs-body-color: #{$custom-body-color};
  --bs-body-color-rgb: #{$custom-body-color-rgb};
  --bs-secondary-color: #{$custom-secondary-color};
  --bs-secondary-color-rgb: #{$custom-secondary-color-rgb};
  --bs-tertiary-bg: #{$custom-tertiary-bg};
  --bs-tertiary-bg-rgb: #{$custom-tertiary-bg-rgb};
  --bs-link-color: #{$custom-primary};
  --bs-link-color-rgb: #{$custom-primary-rgb};
  --bs-link-hover-color: #{$custom-primary-hover};
  --bs-link-hover-color-rgb: #{to-rgb($custom-primary-hover)};
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0;
  --bs-navbar-color: var(--bs-tertiary-bg);
  --bs-navbar-disabled-color: rgba(var(--bs-tertiary-bg-rgb), 0.8);
  --bs-navbar-active-color: var(--bs-tertiary-bg);
  --bs-navbar-brand-font-size: 1.35rem;
  --bs-navbar-brand-color: var(--bs-tertiary-bg);
  --bs-navbar-brand-hover-color: rgba(var(--bs-tertiary-bg-rgb), 0.9);
  --bs-navbar-toggler-font-size: 1rem;
  --bs-navbar-toggler-border-color: rgba(var(--bs-tertiary-bg-rgb), 0.9);
  --bs-navbar-toggler-focus-width: 0.7px;
}

.dropdown-menu {
  --bs-dropdown-link-active-color: var(--bs-body-color);
  --bs-dropdown-link-active-bg: var(--bs-tertiary-bg);
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: #{$custom-primary-hover};
  --bs-btn-hover-border-color: #{$custom-primary-hover-border};
  --bs-btn-active-bg: #{$custom-primary-active};
  --bs-btn-active-border-color: #{$custom-primary-active-border};
  --bs-btn-disabled-bg: rgba(var(--bs-primary-rgb), 0.8);
  --bs-btn-disabled-border-color: #{$custom-primary-border};
}

html {
  font-size: 14px;
}

body {
  padding: 1.5rem 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;

    &.btn {
      text-decoration: none;
    }
  }
}

// common/KeywordHighlight
.highlight {
  background-color: rgba(var(--bs-warning-rgb), 50%);
}

// App
#root .app {
  max-width: 960px;

  // main/HeaderPanel
  nav.header {
    a:hover {
      text-decoration: none;
    }

    .container-fluid {
      padding: 0;

      .navbar-toggler {
        line-height: 2rem;
      }

      .navbar-collapse {

        @media (max-width: 768px) {
          border-top: 1px solid var(--bs-link-hover-color);
          box-shadow: inset 0 1px 0 rgba(var(--bs-body-bg-rgb), 0.1);
          padding: .3rem 0;
        }

        .navbar-nav {
          .nav-item {

            .nav-link {
              padding: 1rem;
              line-height: 2rem;

              &:hover {
                background-color: #{$custom-primary-hover};
              }

              &.active {
                background-color: #{$custom-primary-active};

                &:hover {
                  background-color: #{$custom-primary-active-hover};
                }
              }
            }
          }
        }
      }
    }

    @media (min-width: 768px) {
      &.navbar-expand-md {
        flex-wrap: wrap;
      }
    }
  }

  // main/MainPanel
  .main-content {
    padding: 1rem 0;

    @media (min-width: 768px) {
      padding: 1.5rem 2rem;
    }

    // common/LoadingOverlay
    .loading-overlay {
      background: var(--bs-body-color);
      color: var(--bs-body-bg);
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 5000;
      text-align: center;
      opacity: 0.8;

      .inner {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .spinner-border {
          height: 4rem;
          width: 4rem;
          font-size: 2rem;
        }

        .message {
          margin-top: 1rem;
          font-size: 2rem;
        }

      }
    }

    // common/GeneralPanel
    .page-header {
      padding-bottom: 0.8rem;
      border-bottom: 1px solid var(--bs-border-color);
    }

    // conference/ConferenceRouterPanel
    .conferences {

      // conference/ConferenceListPanel,
      // conference/ConferenceDetailPanel
      .conference {
        padding: .5rem;

        img.logo {
          max-height: 128px;
        }

        img.thumbnail {
          max-height: 64px;
        }
      }

      // conference/AbstractListPanel
      .abstract-list {

        .list-group-item {
          &:hover {
            cursor: pointer;
            background-color: var(--bs-primary) !important;
            color: White;
          }

          .abstract {
            padding: 0 .5rem;

            .sortId {
              float: right;
              margin: .5rem 0 .5rem 1rem;
            }

            h5 {
              font-size: 1.2rem;
            }

            @include enum-with-comma('.authors');
          }
        }
      }

    }
  }

  // main/FooterPanel
  div.footer a {
    color: var(--bs-secondary-color);
  }
}